// Clubs colors:
$ars: #FE0002;
$avl: #480025;
$bha: #0054A6;
$bur: #6A003A;
$che: #0A4595;
$cry: #EB302E;
$eve: #00369C;
$ful: #F5F5F5;
$lee: #F5F5F5;
$lei: #00369C;
$liv: #E31B23;
$mci: #6CAEE0;
$mun: #D81920;
$new: #383838;
$she: #ED1C24;
$stn: #D71920;
$tot: #F5F5F5;
$wba: #F5F5F5;
$whu: #7D2C3B;
$wov: #F9A01B;

.ARS {
    background-color: $ars;
    color: white;
    opacity: 0.8;
}

.AVL {
    background-color: $avl;
    color: white;
    opacity: 0.8;
}

.BHA {
    background-color: $bha;
    color: white;
    opacity: 0.8;
}
.BUR {
    background-color: $bur;
    color: white;
    opacity: 0.8;
}
.CHE {
    background-color: $che;
    color: white;
    opacity: 0.8;
}
.CRY {
    background-color: $cry;
    color: white;
    opacity: 0.8;
}
.EVE {
    background-color: $eve;
    color: white;
    opacity: 0.8;
}
.FUL {
    background-color: $ful;
    color: black;
    opacity: 0.8;
}
.LEE {
    background-color: $lee;
    color: black;
    opacity: 0.8;
}
.LEI {
    background-color: $lei;
    color: black;
    opacity: 0.8;
}
.LIV {
    background-color: $liv;
    color: white;
    opacity: 0.8;
}
.MCI {
    background-color: $mci;
    color: white;
    opacity: 0.8;
}
.MUN {
    background-color: $mun;
    color: white;
    opacity: 0.8;
}
.NEW {
    background-color: $new;
    color: white;
    opacity: 0.8;
}
.SHE {
    background-color: $she;
    color: white;
    opacity: 0.8;
}
.STN {
    background-color: $stn;
    color: white;
    opacity: 0.8;
}
.TOT {
    background-color: $tot;
    color: black;
    opacity: 0.8;
}
.WBA {
    background-color: $wba;
    color: black;
    opacity: 0.8;
}
.WHU {
    background-color: $whu;
    color: white;
    opacity: 0.8;
}
.WOV {
    background-color: $wov;
    color: black;
    opacity: 0.8;
}