// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors:

$off-white: #f7fbfc;
$lighter-blue: #d6e6f2;
$med-blue: #b9d7ea;
$dark-blue: #769fcd;
$off-white-transparent: rgba(247, 251, 252, 0.8);

