// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors:
$off-white: #f7fbfc;
$lighter-blue: #d6e6f2;
$med-blue: #b9d7ea;
$dark-blue: #769fcd;
$off-white-transparent: rgba(247, 251, 252, 0.8);


// Clubs colors:
$ars: #FE0002;
$avl: #480025;
$bha: #0054A6;
$bur: #6A003A;
$che: #0A4595;
$cry: #EB302E;
$eve: #00369C;
$ful: #F5F5F5;
$lee: #F5F5F5;
$lei: #00369C;
$liv: #E31B23;
$mci: #6CAEE0;
$mun: #D81920;
$new: #383838;
$she: #ED1C24;
$stn: #D71920;
$tot: #F5F5F5;
$wba: #F5F5F5;
$whu: #7D2C3B;
$wov: #F9A01B;
