// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Quicksand:wght@300;400;700&display=swap');
@import url("https://use.typekit.net/vce4swe.css");


// Define fonts for body and headers
// $body-font: 'Quicksand', sans-serif;
// $headers-font: 'Staatliches', cursive;
$body-font: 'Quicksand', sans-serif;
$headers-font:  'gill-sans-nova-inline', sans-serif;
$digital-font: 'lores-12', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
