.players.edit {
  .expanded-fixtures {
    display: flex;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    width: 100%;
    .fixture-stats {
      flex-grow: 1;
      border-right: 2px solid grey;
    }
    .cs-percent {
      height: 25%;
      font-weight: bold;
      font-size: 11px;
    }
    p {
        margin: auto;
        font-size: 12px;
        line-height: 1.2;
        padding: 1px;
        height: 25%;
        text-align: center;
      }
    .expanded-fixture {
      border-right: 0.5px solid grey;
      text-align: center;
      height: 100%;
      width: 16%;
      &:last-of-type {
        border: none;
      }
    }
  }

  .expanded-content {
    padding: 8px;
    height: 150px;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.9);

    .expanded-name {
      width: 100%;
    }
    .news-div {
      height: 18px;
    }
    .expanded-more-stats {
      p {
        font-size: 13px;
      }
    }
    .expanded-stats {
      width: 100%;
      flex-grow: 1;
      display: flex;
      .expanded-left {
        flex: 0 0 40%;
        .call-to-action {
          width: 100%;
          padding: 2px 10px;
          margin-top: 4px;
        }
      }
      .expanded-fixtures {
        flex-grow: 1;
      }
    }
    h4 {
      font-size: 22px;
      margin-bottom: 2px;
    }
  }

  .difficulty-1 {
    background-color: rgba(42, 131, 0, 0.5);
  }
  .difficulty-2 {
    background-color: rgba(42, 183, 0, 0.5);
  }
  .difficulty-3 {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .difficulty-4 {
    background-color: rgba(255, 55, 90, 0.5);
  }
  .difficulty-5 {
    background-color: rgba(240, 30, 30, 0.5);
  }
}
