// Specific CSS for your home-page

.pages.home {
  .body-content {
    background-image: none !important;
    background-color: $off-white;
    min-height: calc(100vh - 200px);
  }
  .navbar {
    background-color: transparent ;
    background-image: none;
    transition: 0.5s background-color ease;
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
  }

  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }

  #logged-in a {
      color: #F0F0F0;
  }

  .banner {
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    width: 100%;
    height: 100vh;
    .container {
      margin-top: 56px;
      margin-left: 40px;
      margin-right: 40px;
    }
  }


  .banner h1 {
    margin: 0;
    color: #F0F0F0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 5vh;
    font-weight: bold;
  }

  .banner p {
    font-size: 3vh;
    color: #F0F0F0;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .banner-content {
    position: fixed;
    width: 100vw;
  }

  #banner-logo {
    max-height: 20vh;
    max-width: 40vw;
    padding: 8px;
  }



  .banner-main-text {
    width: 60vw;
    padding: 8px;
  }

  #call-to-action {
    display: inline-block;
    color: #F0F0F0;
    font-size: 2.5vh;
    padding: 12px 20px;
    margin-top: 10px;
    border: 1px solid #F0F0F0;
    background-color: #3A003D;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    opacity: 80%;
  }

  #call-to-action:hover {
    text-decoration: none;
    background-color: #366396;
  }

  #demo-button {
    display: inline-block;
    color: #F0F0F0;
    font-size: 2.5vh;
    padding: 12px 20px;
    margin-top: 10px;
    border: 1px solid #F0F0F0;
    background-color: #3A003D;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    opacity: 80%;
  }

  #demo-button:hover {
    text-decoration: none;
    background-color: rgba(58,0,61,0.8);
  }

  // Specifics for desktops
  @media only screen and (min-width: 575px) {
    .home-screen-call-to-action {
      width: 100%;
      max-width: none;
      flex: none;
      #demo-button {
        background-color: $darker-blue;
      }
    }
  }
  // Mobile Screens
  @media (min-width: 100px) and (max-width: 575px) {
    .banner-main-text {
      text-align: center;
      width: 80vw;
      h1 {
        font-size: 25px;
        padding-bottom: 20px;
      }
      p {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 20px;
      }
    }
    
    .banner > .container {
      margin-top: 56px;
      margin-left: 20px;
      margin-right: 25px;
    }

    .banner-content {
      width: 80vw;
    }
    

    #call-to-action {
      font-size: 2vh;
      width: 35vw;
    }

    #demo-button {
      font-size: 2vh;
      width: 35vw;  
    }

    #banner-logo {
      max-height: 40vh;
      max-width: 60vw;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0 35px;
    }
  }
}
