.teams.show {
  .container {
    display: flex;
    width: 90%;
    max-height: 100vh;
    padding-right: 10px;
    padding-left: 10px;
  }

  .left-section {
    flex: 0 0 65%;
    padding-right: 10px;
    .team-view {
      margin-top: 10px;
      border: 1px solid  black;
      min-height: 600px;
      background-size: cover;
    }
  }

  .right-section {
    flex: 1;
    padding-left: 15px;
    border-left: 1px solid black;
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 10px;
    }
  }
  .team-view {
    display: flex;
    flex-direction: column;
    .main-team {
      flex: 4;
      border: 1px solid  black;
    }
    .bench {
      flex: 1;
      border: 1px solid  black;
    }
  }
}
