.teams.show {

  h3 {
    margin-bottom: 0;
  }

  .container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-height: 100vh;
    padding-right: 10px;
    padding-left: 10px;
  }



  .left-section {
    flex: 0 0 65%;
    padding-right: 10px;
    border-right: 1px solid black;
    overflow: auto;
    .team-view {
      margin-top: 10px;
      margin-bottom: 10px;
      // border: 1px solid  black;
      min-height: 600px;
      background-size: cover;
    }
    .active {
      background-color: rgba(255, 255, 138, 0.9);
    }
    .active2 {
      background-color: rgba(255, 172, 75, 0.9);
    }
  }

  .team-view {
    display: flex;
    overflow: auto;
    flex-direction: column;
    position: relative;
    .main-team {
      flex: 4;
      // border: 1px solid black;
      display: flex;
      flex-direction: column;
      .gks, .defs, .mids, .fwds {
        flex: 1;
        display: flex;
        justify-content: space-around;
      }
    }
    .bench {
      flex: 1;
      border-top: 1px solid black;
      margin-top: 5px;
      display: flex;
      justify-content: space-around;
      flex: 1;
      position: relative;
      background-size: cover;
      background-position: center;
      .bench-player {
        // border: 1px solid black;
        padding-top: 10px;
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .starting-player {
    // border: 1px solid black;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player-content {
    border-radius: 4px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px, 3px, 3px, rgba(30, 30, 30, 0.2);
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 90px;
    position: relative;
    .shirt {
      height: 55%;
      margin-top: 5%;
    }

    .shirt > img {
      height: 95%;
      padding-top: 5%;
      width: 65%;
      text-align: center;
    }
    .gloves {
      position: absolute;
      left: 59px;
      top: 35px;
    }

    .player-name {
      text-align: center;
      height: 23%;
      width: 100%;
      font-size: 16px;
    }
    .next-fixture {
      height: 22%;
      text-align: center;
      width: 100%;
      font-size: 13px;
      font-weight: 100;
    }
  }

  .switch {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: $off-white;
    border: 0.3px solid grey;
    border-radius: 4px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 14px;
    width: 20px;
    height: 20px;
  }
  .player-info {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: $off-white;
    border: 0.3px solid grey;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
    font-size: 12px;
    width: 20px;
    height: 20px;
    padding-top: 3px;
  }

  .fa-user-minus {
    position: absolute;
    top: 24px;
    left: 2px;
    background-color: $off-white;
    border: 0.3px solid grey;
    border-radius: 4px;
    padding-top: 1px;
    cursor: pointer;
    font-size: 13px;
    width: 20px;
    height: 20px;
    color: black;
  }

  .hidden {
    display: none !important;
  }

  .league-link {
    position: absolute;
    top: 2px;
    left: 2px;
  }

  .finalize-link {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  #call-to-action {
    display: inline-block;
    color: $off-white;
    font-size: 18px;
    padding: 8px 12px;
    border: 1px solid $off-white;
    background-color: $darker-blue;
    border-radius: 5px;
  }

  #call-to-action:hover {
    text-decoration: none;
    background-color: #366396;
  }
}
