.teams.show {
  .container {
    display: flex;
    width: 90%;
    max-height: 100vh;
    padding-right: 10px;
    padding-left: 10px;
  }

  .left-section {
    flex: 0 0 65%;
    padding-right: 10px;
    overflow: auto;
    .team-view {
      margin-top: 10px;
      // border: 1px solid  black;
      min-height: 600px;
      background-size: cover;
    }
    .active {
      background-color: rgba(255, 255, 138, 0.5);
    }
    .active2 {
      background-color: rgba(255, 172, 75, 0.5);
    }
  }

  .right-section {
    flex: 1;
    padding-left: 15px;
    border-left: 1px solid black;
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 10px;
    }
    li {
      list-style: none;
      font-size: 15px;
    }
    ul {
      padding-left: 5px;
    }
  }
  .team-view {
    display: flex;
    overflow: auto;
    flex-direction: column;
    .main-team {
      flex: 4;
      // border: 1px solid black;
      display: flex;
      flex-direction: column;
      .gks, .defs, .mids, .fwds {
        flex: 1;
        display: flex;
        justify-content: space-around;
      }
    }
    .bench {
      flex: 1;
      border-top: 1px solid black;
      margin-top: 5px;
      display: flex;
      justify-content: space-around;
      flex: 1;
      position: relative;
      .bench-name {
        position: absolute;
        top: 3px;
        left: 3px;
        h4 {
          font-style: bolder;
          font-size: 23px;
        }
      }
      .bench-player {
        // border: 1px solid black;
        padding-top: 25px;
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .starting-player {
    // border: 1px solid black;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player-content {
    border-radius: 4px;
    display: flex;
    background-color: rgba(225, 225, 225, 0.5);
    box-shadow: 3px, 3px, 3px, rgba(30, 30, 30, 0.2);
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 100px;
    position: relative;
    .shirt {
      height: 75%;
    }

    .shirt > img {
      height: 100%;
      text-align: center;
    }
    .player-name {
      text-align: center;
      height: 25%;
      width: 100%;
    }
  }

  .switch {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: $off-white;
    border: 0.3px solid grey;
    border-radius: 4px;
    padding: 2px;
  }

  .hidden {
    display: none !important;
  }
}
