  <% gameweek_info = next_gameweek %>
  <div id="deadline" data-turbolinks-permanent>
    <div id="deadline-countdown" class="text-center pt-3 pr-2" data-gameweek="<%= gameweek_info[0] %>" data-gameweek2="<%= gameweek_info[1] %>"></div>
    <div class="text-center pt-2 pr-2">UNTIL NEXT DEADLINE</div>
  </div>
