<div class="footer">
  <div class="footer-links">
    <%= link_to about_path do %>
      <i class="fas fa-question-circle"></i>
    <% end %>
    <a href="https://github.com/b-skingsley/expectedfpl" target="_blank"><i class="fab fa-github-square"></i></a>
  </div>
</div>
