<div class="container p-4" id="overlay-container">

  <div id="about">
    <h2>About</h2>
    <p>ExpectedFPL.com is the product of a final-project of a coding-bootcamp (Le Wagon, London), completed in March 2021.<br><br>The app was created using the Ruby on Rails framework, marrying together code written in Ruby, javaScript, HTML and CSS and makes use of the PostgreSQL Database Management System.<br><br>The data is sourced from the official Premier League API.</p>
  </div>

  <div id="developers">
    <h2>The Developers</h2>
    <hr>
    <div class="row">
      <div class="col-6 text-center">
        <%= image_tag "ben.jpg", class: 'avatar-large' %>
        <h3>Ben Skingsley 🇬🇧</h3>
        <div class="about-links">
          <a href="https://github.com/b-skingsley" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
      </div>
      <div class="col-6 text-center">
        <%= image_tag "marcel.jpg", class: 'avatar-large' %>
        <h3>Marcel Meyer 🇩🇪</h3>
        <div class="about-links">
          <a href="https://github.com/Planetari" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6 text-center">
        <%= image_tag "mark.jpg", class: 'avatar-large' %>
        <h3>Mark Price 🇬🇧</h3>
        <div class="about-links">
          <a href="https://github.com/markpricetri" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
      </div>
      <div class="col-6 text-center">
        <%= image_tag "matt.jpg", class: 'avatar-large' %>
        <h3>Matt Smith 🇬🇧</h3>
        <div class="about-links">
          <a href="https://github.com/jetnova" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
      </div>
    </div>
  </div>

</div>
