<div class="container p-4" id="overlay-container">

  <h2>About</h2>
  <p>ExpectedFPL.com is the product of a coding-bootcamp final-project, completed in March 2021.<br>The app was created using the Ruby on Rails framework, marrying together code written in Ruby, javaScript, HTML and CSS.<br>The data is sourced from the official Premier League API.</p>

  <h2>The Developers</h2>

  <h3>Ben Skingsley</h3>
  <div class="team-member row">

    <div class="col">
      <%= image_tag "ben.jpg", class: 'avatar-large' %>
    </div>
    <div class="col">
      <p></p>
    </div>
    <hr>
  </div>

  <h3>Marcel Meyer</h3>
  <div class="team-member row">
    <div class="col">
      <p></p>
    </div>
    <div class="col">
      <%= image_tag "marcel.jpg", class: 'avatar-large' %>
    </div>
    <hr>
  </div>

  <h3>Mark Price</h3>
  <div class="team-member row">
    <div class="col">
      <%= image_tag "mark.jpg", class: 'avatar-large' %>
    </div>
    <div class="col">
      <p></p>
    </div>
    <hr>
  </div>

  <h3>Matt Smith</h3>
  <div class="team-member row">
    <div class="col">
      <p></p>
    </div>
    <div class="col">
      <%= image_tag "matt.jpg", class: 'avatar-large' %>
    </div>
    <hr>
  </div>

</div>
