#deadline {
  font-family: $digital-font;
  font-size: 14px;
  top: 20px;
  left: calc(50% - 100px);
  color: #39D000;
  height: 100px;
  width: 200px;
  position: absolute;
  margin-right: 32px;
  background-image: asset-url('fourth_official.png');
  background-size: 100% 100%;
}

@media (min-width: 100px) and (max-width: 575px) {
  #deadline {
      display: none;
    }
}
