.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: $off-white;
  height: 100px;
}

#nav-logo {
  height: 100px;
}

#deadline {
  border: 0.3px solid grey;
  border-radius: 3px;
  background: rgba(40, 40, 40, 0.1);
  padding: 4px 16px 4px 16px;
  margin-right: 32px;

  #deadline-time p {
    color: orange !important;
  }

  p {
    margin-bottom: 0;
  }
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  img {
    width: 40px;
  }
  h2 {
    font-size: 40px;
  }
  color: rgb(172, 173, 173);
  vertical-align: center;
}

.nav-link {
  color: $dark-blue !important;
  i {
    font-size: 32px;
  }
}
