.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(40, 40, 40, 0.7),
                                    rgba(120, 120, 120, 0.5)),
                                    asset-url('pitch_background_nav');
  // background-image: asset-url('pitch_background_nav');
  background-size: cover;
  height: 100px;
}

#nav-logo {
  height: 100px;
}

#deadline {
  font-family: 'DotGothic16', sans-serif;
  font-size: 14px;
  color: #39D000;
  height: 100px;
  width: 200px;
  margin-right: 32px;
  background-image: asset-url('fourth_official.png');
  background-size: 100% 100%;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  img {
    width: 40px;
  }
  h2 {
    font-size: 40px;
  }
  color: rgb(172, 173, 173);
  vertical-align: center;
}

.nav-link {
  color: $dark-blue !important;
  i {
    font-size: 32px;
  }
}
