.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 120px;
}

#nav-logo {
  height: 100px;
  padding-bottom: 4px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-call-to-action {
      display: inline-block;
      color: $off-white;
      font-size: 18px;
      padding: 4px 10px;
      border: 1px solid $off-white;
      background-color: $darker-blue;
      border-radius: 5px;
      margin-right: 20px;
      height: 80%;
    }

#nav-call-to-action:hover {
    text-decoration: none;
    background-color: #366396;
  }


.navbar-lewagon .navbar-brand {
  img {
    width: 40px;
  }
  h2 {
    font-size: 40px;
  }
  color: rgb(172, 173, 173);
  vertical-align: center;
}

.nav-link {
  .fas.fa-bars {
    color: $dark-blue !important;
  }
  i {
    font-size: 32px;
  }
}
