#scoreboard-team-div {
    width: 150px;
}

.stats div#scoreboard-row:nth-child(even) {
    background-color: rgba(176, 181, 185, 0.8);
}

.stats div#scoreboard-row:nth-child(odd) {
    background-color: rgba(136, 140, 143, 0.8);
}

#tabs {
    margin-left: 15px;
}


#scrollable {
    max-height: 1000px;
    overflow: auto;

    // Firefox
    scrollbar-color: rgb(153, 153, 153) rgb(100, 100, 100);
    scrollbar-width: thin;
}

#scrollable::-webkit-scrollbar {
    width: 5px;
}

.link-tab {
    color: black;
    margin-bottom: 0;
    &:hover {
        background-color: $lighter-blue;
    }
}

.link-tab-active {
    color: white;
    background-color: rgba(133, 167, 214, 0.7);
    margin-bottom: 0;
}

#player-search-results {
    max-height: 200px;
    overflow: auto;
}

#algolia-input {
    border: none;
}

#algolia-result {
    border: none;
    padding: 3px;
    background-color: rgba(133, 167, 214, 0.0);
    &:hover {
        background-color: $med-blue;
    }
}

#difficulty-bar {
    background: linear-gradient(to right, #16C60C, #E81224);
    box-shadow: 0px 0px 5px white;
}


.small-text {
    font-size: 12px;
}