.table-header {
  background: rgba(133, 167, 214, 0.9);
  font-family: $headers-font;

  p {
    line-height: 18px;
    margin: 8px 0 8px 0;
  }
}


#team-table {
  width: 408px;
  height: 60vh;

  .first-row {
    padding-left: 4px;
  }
  .col-1,.col-2,.col-3 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .last-row {
    padding-right: 4px;
  }

  .col {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .transfer-link {
    font-size: 16px
  }
}

.team-table-header {
  background: rgba(133, 167, 214, 0.7);
  font-family: $headers-font;
  height: 40px;
   p {
    margin-bottom: 0;
    font-size: 12px;
  }
}

.filters {
  background: rgba(133, 167, 214, 0.9);
}


.table-row {
  min-height: 32px;
  border-bottom: 0.5px solid grey;
   p {
    margin-bottom: 0;
    font-size: 12px;
  }
}

.team-table-row {
  height: 30px;
  border-top: 0.5px solid grey;

  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  &:hover {
    cursor: pointer;
  }
  p {
    font-size: 12px;
    margin-bottom: 0;
  }
}

.row-hover-highlight {
  &:hover {
    background-color: rgba(30, 30, 30, 0.1);
  }
}

.row-contracted {
  height: 22px;
  font-size: 10px;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.row-expanded {
  height: 150px;
  font-size: 16px;

  border-radius: 4px;
  background-color: rgba(220, 220, 220, 0.6);
  box-shadow: 0 0 10px rgba(40, 40, 40, 0.4);

  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  &:hover {
    cursor: pointer;
  }
}

.position-header {
  background: rgba(133, 167, 214, 0.4);
  font-weight: bolder;
  border-top: 1px solid grey;
  color: grey;

  p {
    line-height: 18px;
    font-size: 12px;
    margin: 0;
  }
}

.transfer-selected {
  background: rgba(64, 224, 140, 0.4);
}

.news {
  font-weight: bolder;
  background-color: rgba(251, 179, 0, 0.7);
}

.sort-icon {
  font-size: 28px;
  line-height: 20px;
  margin-bottom: 0;
  color: grey;

  &:hover {
    cursor: pointer;
  }
}

.hidden {
  display: none;
  transition-property: display;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.active {
  font-size: 28px;
  line-height: 20px;
  color: #40E08C;
  text-shadow: 0 1px 4px rgba(30, 30, 30, 0.5);
  margin-bottom: none;

  &:hover {
    cursor: auto;
  }
}

.table-body {
  padding-bottom: 56px;
}

.filter-feedback {
  font-weight: lighter;
  font-size: 14px;
  color: #40E08C;
  text-shadow: 0 1px 4px rgba(30, 30, 30, 0.5);
  margin-top: 16px;
}

.form-inline {
  display: flex;
  justify-content: space-between;
}

#transfer-out {
  background: rgba(204, 77, 45, 0.4);

  .fa-user-minus {
    color: rgba(204, 77, 45, 0.8);
    text-shadow: 0 0 8px rgba(30, 30, 30, 0.5);
  }

  &:hover {
    cursor: auto;
  }
}

.fa-user-plus {
  color: rgb(64, 224, 140);
  text-shadow: 0 0 8px rgba(30, 30, 30, 0.8);
}


button.see-footballer {
  background-color: $dark-blue;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
}