// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/clubs";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/scoreboard";
@import "components/dashboard";
@import "pages/index";
@import "pages/teampage";
@import "pages/leagues";
@import "pages/finalize";
@import "pages/editplayer";


// Background
body {
  background-size: cover;
  background-position: center;
}

// minimum of view height minus the navbar and footer
.body-content {
  min-height: calc(100vh - 200px);
}

.background-transparent {
  background-color: rgba(247, 251, 252, 0.8);
}

#overlay-container {
    background-color: rgba(247, 251, 252, 0.8);
    top: 30px;
}

.sessions.new, .registrations.new {

  #call-to-action {
      display: inline-block;
      color: $off-white;
      font-size: 18px;
      padding: 4px 12px;
      border: 1px solid $off-white;
      background-color: $darker-blue;
      border-radius: 5px;
      margin-bottom: 10px;
    }

  #call-to-action:hover {
    text-decoration: none;
    background-color: #366396;
  }

  #call-to-action2 {
      display: inline-block;
      color: $off-white;
      font-size: 15px;
      padding: 2px 8px;
      border: 1px solid $off-white;
      background-color: $darker-blue;
      border-radius: 5px;
      margin-bottom: 10px;
    }

  #call-to-action2:hover {
    text-decoration: none;
    background-color: #366396;
  }

  #overlay-container {
    position: relative;
    top: 100px;
    width: 40%;
  }

  @media (min-width: 100px) and (max-width: 575px) {
    #overlay-container {
      position: static;
      top: 0;
      width: 90%;
    }
  }

  .container {
    padding-bottom: 10px;
  }
}

a {
  color: $darker-blue;

  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

#back-to-footballers-index {
  color: white;
}

.teams.new {
  #call-to-action {
      display: inline-block;
      color: $off-white;
      font-size: 18px;
      padding: 4px 12px;
      border: 1px solid $off-white;
      background-color: $darker-blue;
      border-radius: 5px;
      margin-bottom: 10px;
    }

  #call-to-action:hover {
    text-decoration: none;
    background-color: #366396;
  }

  #overlay-container {
    position: relative;
    top: 100px;
    width: 30%;
  }

  @media (min-width: 100px) and (max-width: 575px) {
    #overlay-container {
      position: static;
      top: 0;
      width: 90%;
    }
  }
}

.login-form {
  width: 50%;
}
